.list {
    display: grid;
    grid-template-columns: auto;
}

.list div {
    padding: 0.2em 0 0.2em 1em;
}

.list div p {
    float: left;
}

.list div a {
    float: right;
    margin-right: 1em;
}

.odd {
    background-color: rgb(34, 37, 38);
}

.padded {
    padding: 1em;
}

.add_movie {
    display: grid;
    grid-template-columns: 20% auto;
}

input {
    padding: 0.7em;
    background-color: #323131;
    border: 0;
    margin: 0.5em;
    border-radius: 0.5em;
    color: #fff;
    font-size: 0.7em;
}

button {
    color: #fff;
    background-color: #777;
    border: 0;
    border-radius: 0.5em;
    padding: 0.2em 0.6em;
    font-size: 1.3em;
    cursor: pointer;
}

h1 {
    margin: 0;
}

header {
    border-bottom: solid #a4282f;
    border-bottom-width: 1px;
    padding: 1em;
}

header * {
    display: inline-block;
    margin: 0 0.3em;
    cursor: pointer;
}

header a {
    font-size: 1.2em;
}

main {
    font-size: 1.3em;
    padding-top: 1em;
}

body {
    background-color: rgb(19, 21, 22);;
    color: rgb(186, 184, 182);;
    font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

